{{!< default}}

{{!-- Header for SSEC. --}}
<header class="container-fluid">
    <h1 class="display-1">
        {{@site.title}}
    </h1>
    <p class="display-3">
        {{@site.description}}
    </p>
</header>
<main id="site-main">
    <p>Fix me!</p>
</main>